<form id="" method="post">
  <div id="application-sent-container">
    <h1><%= language['APPLICATION_SENT_THANK_YOU'] %></h1>

  </div>
  <div id="application-sent-container">
    <label id="application-sent-button-container">
      <span> <a href="/auth/logout?language=<%= selectedLanguage %>" style="text-decoration: none; color:black;"><%= language['LOGOUT_BUTTON'] %></a></span>


    </label>
  </div>
</form>