<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/500.css" rel="stylesheet" type="text/css">
        <title>500</title>
    </head>
    <body>
        <div id="ErrorBox">
            <h1>500</h1>
            <h3>The database seems to be down, Please try again later</h3>
            <h4>We're currently working on it</h4>
        </div>
    </body>
</html>