<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/application-sent.css" rel="stylesheet" type="text/css">
    <title>Job Application Form</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    
    <form id="" method="post">
      <div id="application-sent-container">
        <h1><%= language['APPLICATION_SENT_THANK_YOU'] %></h1>
    
      </div>
      <div id="application-sent-container">
        <label id="application-sent-button-container">
          <span> <a href="/auth/logout?language=<%= selectedLanguage %>" style="text-decoration: none; color:black;"><%= language['LOGOUT_BUTTON'] %></a></span>
        </label>
      </div>
    </form>
  </body>
</html>