#application-form_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2em;
    border-radius: 10px;
    padding-top: 200px;
  }

  h1 {
    color: #0077c9;
    margin-bottom: 1.5em;
  }

  h2 {
    color: #0077c9;
    margin-bottom: 1.5em;
    display: inline-block;
  }


  label {
    color: #0077c9;
    font-size: 2.2em;
    margin-bottom: 0.5em;
    display: block;
  }

  input[type="text"],
  input[type="date"] {
    margin-bottom: 2em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #0077c9;
    border-radius: 5px;
    width: 300px;
    display: block;
  }

  input[type="text"]::placeholder,
  input[type="date"]::placeholder {
    font-style: italic;
    color: #b0b0b0;
  }

  input[type="checkbox"] {
    height: 20px;
    padding: 5px;
    width: 20px;
    font-size: xx-large;
  }


  #submitButton {
    background-color: #0077c9;
    color: white;
    padding: 0.75em 2.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1em;
  }

  #submitButton:hover {
    background-color: #0066b2;
  }

  p {
    font-size: x-small;
    color: red;
  }

  span {
    color: red;
    font-size: xx-large;
  }
  h3{
    color: green;
    font-size: xx-large;
  }