/*CSS FILE FOR FORGOTTEN PASSWORD VIEW*/

#forgottenPasswordBox{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}
#restore{
    padding-top: 80px;
    height: 500px;
    width: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background: f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#restore-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#restoreButton {
    height: 30px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #3b478a;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
#restoreButton:hover{
    transform: scale(1.10);
    position:relative;
    z-index:5;
}   
#pnr {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}   
#pnr input {
    border: none;
    background-color: rgb(233, 233, 233);  
    display: block;
}
#pnr input:focus {
    outline: none;
}
#password {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
#password input {
    border: none;
    background-color: rgb(233, 233, 233);  
    display: block;
}
#password input:focus {
    outline: none;
}
#confirmpassword {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
#confirmpassword input {
    border: none;
    background-color: rgb(233, 233, 233); 
    display: block; 
}
#confirmpassword input:focus {
    outline: none;
}
#code {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
#code input {
    border: none;
    background-color: rgb(233, 233, 233); 
    display: block; 
}
#code input:focus {
    outline: none;
}
#username {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}   
#username input {
    border: none;
    background-color: rgb(233, 233, 233);  
    display: block;
}
#username input:focus {
    outline: none;
}
#codeError {
    color: red;
    font-size: xx-large;
}
#codeSuccess {
    color: green;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
