<link href="../assets/navbar.css" rel="stylesheet" type="text/css">
<div id="navContainer">
    <div id="leftHeaderContainer">
    </div>
    <div id="middleHeaderContainer">
        <span id="headerTitle">Recruitment Application</span>
    </div>
    <div id="leftHeaderContainer">
        <form id="logoutButtonBox" action="/auth/logout">
            <button id="logoutButton" type="submit">Sign Out</button>
        </form>
    </div>
</div>