/*CSS FILE FOR LOGIN VIEW*/

#signInBox{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}
#signin{
    padding-top: 80px;
    height: 500px;
    width: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background: f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
label, input {
    display: block;
}
label {
    margin-bottom: 20px;
}
#signin-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signUpButton {
    height: 30px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #3b478a;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
#signUpButton:hover{
    transform: scale(1.10);
    position:relative;
    z-index:5;
}   
#username {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
}   
#username input {
    border: none;
    background-color: rgb(233, 233, 233);  
}
#username input:focus {
    outline: none;
}
#password {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233); 
    border-radius: 5px;
    padding: 5px;
}
#password input {
    border: none;
    background-color: rgb(233, 233, 233);  
}
#password input:focus {
    outline: none;
}
