#navContainer {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1em 0;
    height: auto;
}

#leftHeaderContainerContent{
    display: flex;
    flex-direction: row;
}

#middleHeaderContainer {
    display: flex;
    justify-content: center;
    padding-right: 10%;
    height: auto;
    
}

#headerTitle {
    color: #333333;
    font-family: 'Bitter', serif;
    font-size: x-large;
    font-weight: normal;
    height: auto;
}

#logoutButtonBox {
    margin: 0 auto;
    padding: 0;
    height: auto;
    color: #ccc;
    background-color: #fff;
}

#logoutButton {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #161414;
    height: auto;
}

#logoutButton:hover {
    cursor: pointer;
    height: auto;
}
